.gallery_container {
  width: 90%;
  margin: auto;
  background: linear-gradient(to right, #8e0e00, #1f1c18);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 80vh; /* Adjust height to a percentage of the viewport height */
  overflow: hidden; /* Ensure content fits within the container */
}

.image_slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slide_image {
  width: 100%; /* Make the image width responsive */
  height: auto; /* Maintain the aspect ratio */
  max-width: 300px; /* Set a maximum width */
  max-height: 200px; /* Set a maximum height */
  object-fit: cover; /* Ensure the image maintains its aspect ratio and covers the area */
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.image_description {
  color: #fff;
  font-size: 1em; /* Use relative units for font size */
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
}

.slick-dots li button:before {
  color: #fff;
}

.slick-prev:before,
.slick-next:before {  
  color: #fff;
}

/* Media queries for responsive design */
@media (min-width: 600px) {
  .gallery_container {
    max-height: 70vh; /* Adjust height for larger screens */
  }

  .slide_image {
    max-width: 400px; /* Increase the maximum width for larger screens */
    max-height: 300px; /* Increase the maximum height for larger screens */
  }

  .image_description {
    font-size: 1.2em; /* Increase font size for larger screens */
  }
}

@media (min-width: 900px) {
  .gallery_container {
    max-height: 60vh; /* Adjust height for even larger screens */
  }

  .slide_image {
    max-width: 500px; /* Increase the maximum width for even larger screens */
    max-height: 400px; /* Increase the maximum height for even larger screens */
  }

  .image_description {
    font-size: 1.4em; /* Increase font size for even larger screens */
  }
}
