/* Gallery.css */
.gallery_container {
  width: 100%;
  margin: auto;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  padding: 20px;
  height: auto; /* Adjusted to auto to fit content */
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 70vh; /* Adjust height to a percentage of the viewport height */
  overflow: hidden; /* Ensure content fits within the container */
}

.image_slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 10px; */
}

.slide_image {
  width: 100%; /* Make image responsive */
  max-width: 100%; /* Ensure the image does not exceed container width */
  height: 250px; /* Maintain aspect ratio */
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  object-fit: fill; /* Adjusted to cover for better fit */
}

.image_description {
  color: black;
  font-size: 0.75rem; /* Adjusted for small screens */
  text-align: center;
  max-width: 100%; /* Full width on small screens */
  margin: 10px auto; /* Adjusted margin for better spacing */
  padding: 5px 10px;
  border-radius: 3px;
}

/* Media queries for responsive design */
@media (min-width: 600px) {
  .gallery_container {
    max-height: 90vh; /* Adjust height for larger screens */
  }

  .slide_image {
    max-width: 100%; /* Ensure responsiveness */
  }

  .image_description {
    font-size: 1rem; /* Increase font size for larger screens */
  }
}

@media (min-width: 900px) {
  .gallery_container {
    max-height: 70vh; /* Adjust height for even larger screens */
  }

  .slide_image {
    max-width: 100%; /* Ensure responsiveness */
  }

  .image_description {
    font-size: 1.2rem; /* Increase font size for even larger screens */
  }
}
