.gallery_container {
  width: 100%;
  margin: auto;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  padding: 20px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 60vh;
  overflow: hidden;
}

.image_slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding-top: 15px; */
  /* padding-bottom: 15px; */
  padding-left: 10px;
  padding-right: 10px;
}

.slide_image_wrapper {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 5px;
}

.slide_image {
  width: 100%;
  height: 100%;
  object-fit: fill;
  /* object-fit: cover; */
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.slick-slide {
  padding: 0 10px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 0.9rem;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  transition: opacity 0.3s ease;
  pointer-events: none;
  border-radius: 5px;
}

.slide_image_wrapper:hover .overlay {
  opacity: 1;
  pointer-events: auto;
}

.slick-center .slide_image {
  transform: scale(1.1);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.slick-center .overlay.has-text {
  opacity: 1;
  pointer-events: auto;
}

.overlay:not(.has-text) {
  font-style: italic;
  font-size: 0.8rem;
  color: #fff;
}

@media (min-width: 600px) {
  .gallery_container {
    max-height: 75vh;
  }
  .slide_image_wrapper {
    height: 250px;
  }
}

@media (min-width: 900px) {
  .gallery_container {
    max-height: 60vh;
  }
  .slide_image_wrapper {
    height: 300px;
  }
}
