.about_container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: #ffd700;
  padding: 20px;
}

.about_left {
  flex: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 5px;
  transition: transform 0.3s ease-in-out;
}

.about_left img {
  width: 90%;
  height: auto; /* Maintain aspect ratio */
  display: block;
  transition: transform 0.3s ease-in-out;
}

.about_left img:hover {
  transform: scale(1.05);
}

.about_right {
  flex: 1;
  padding: 20px;
  background-color: #ffd700; /* Adjust as per your preference */
  opacity: 0; /* Initial state for animation */
  transform: translateY(50px); /* Initial state for animation */
  will-change: opacity, transform;
}

.about_right ul {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.about_right li {
  text-align: justify;
  display: flex;
  align-items: center;
}

.about_right li .icon {
  margin-right: 10px;
}

.about_right h1,
.about_right p {
  margin: 0 auto;
  max-width: 80%;
}

.about_button {
  margin: 20px auto;
  display: block;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid green;
  background-color: transparent;
  color: green;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.about_button:hover {
  background-color: green;
  color: white;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 90%;
  position: relative;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.modal-body ul {
  list-style: none;
  padding: 0;
}

.modal-body li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.modal-body li .icon {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .about_left,
  .about_right {
    flex-basis: 100%;
    padding: 20px 0;
  }

  .about_right h1,
  .about_right p {
    max-width: 100%;
  }

  .about_left img {
    width: 100%;
    height: auto;
  }

  .modal-content {
    width: 95%;
    padding: 15px;
  }

  .modal-close {
    font-size: 20px;
    top: 5px;
    right: 5px;
  }

  .modal-body li .icon {
    width: 20px;
    height: 20px;
  }
}
